<!--/*

  ADOBE CONFIDENTIAL
  __________________

  Copyright 2014 Adobe Systems Incorporated
  All Rights Reserved.

  NOTICE:  All information contained herein is, and remains
  the property of Adobe Systems Incorporated and its suppliers,
  if any.  The intellectual and technical concepts contained
  herein are proprietary to Adobe Systems Incorporated and its
  suppliers and are protected by trade secret or copyright law.
  Dissemination of this information or reproduction of this material
  is strictly forbidden unless prior written permission is obtained
  from Adobe Systems Incorporated.

  ==============================================================================

  AEM Recommendation product template

  ==============================================================================
*/-->
<script type="text/x-handlebars-template">
    <li class="foundation-list-item">
        <div class="we-ProductsGrid-item">

            <div class="we-ProductsGrid-item-image">
                <img src="{{image}}" alt="{{title}}"/>
            </div>

            <h3 class="we-ProductsGrid-item-title">{{title}}</h3>
            <!--<span class="we-ProductsGrid-item-subtitle">${item.description}</span>-->

            <strong class="we-ProductsGrid-item-price">
                <span>{{price}}</span>
                <span class="we-ProductsGrid-item-price-new"></span>
                <s class="we-ProductsGrid-item-price-old"></s>
            </strong>

            <span class="we-ProductsGrid-item-discount hidden"><span></span>off</span>
            <a href="{{path}}" class="we-ProductsGrid-item-link"></a>

        </div>
    </li>
</script>
