.we-Section {
  margin-bottom: 55px;
}

.we-CommunitySection {
  padding: 60px 0 70px;

  background: 50% 100% no-repeat;
  background-size: cover;

  color: #fff;

  .we-Header {
    margin-bottom: 80px;
  }

  .we-CommunityTeaser {
    margin-bottom: 40px;
  }

  .text-muted {
    color: fade(#fff, 20);
  }
}
