# Ignore VLT files
.vlt
.vlt-sync.log
.vlt-sync-config.properties

# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart

# Ignore compilation results
target

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store
*.jar

cq5dam.*
generated

ui.apps/src/main/content/jcr_root/apps/.content.xml
ui.apps/src/main/content/jcr_root/etc/.content.xml
ui.apps/src/main/content/jcr_root/etc/msm/.content.xml
ui.apps/src/main/content/jcr_root/etc/designs/.content.xml
ui.apps/src/main/content/jcr_root/etc/clientlibs/.content.xml
ui.apps/src/main/content/jcr_root/etc/blueprints/.content.xml
ui.apps/src/main/content/jcr_root/etc/scaffolding/.content.xml
ui.apps/src/main/content/jcr_root/etc/segmentation/.content.xml
ui.apps/src/main/content/jcr_root/etc/clientcontext/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/.content.xml
ui.apps/src/main/content/jcr_root/etc/msm/rolloutconfigs/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/scene7/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/campaign/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/sitecatalyst/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/testandtarget/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/marketingcloud/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/mobileservices/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/audiencemanager/.content.xml
ui.apps/src/main/content/jcr_root/etc/cloudservices/dynamictagmanagement/.content.xml

ui.content/src/main/content/jcr_root/.content.xml
ui.content/src/main/content/jcr_root/content/.content.xml
ui.content/src/main/content/jcr_root/content/dam/.content.xml
ui.content/src/main/content/jcr_root/content/forms/.content.xml
ui.content/src/main/content/jcr_root/content/forms/af/.content.xml
ui.content/src/main/content/jcr_root/content/catalogs/.content.xml
ui.content/src/main/content/jcr_root/content/projects/.content.xml
ui.content/src/main/content/jcr_root/content/campaigns/.content.xml
ui.content/src/main/content/jcr_root/content/forms/formsanddocuments/.content.xml

ui.content/src/main/content/jcr_root/etc/.content.xml
ui.content/src/main/content/jcr_root/etc/commerce/.content.xml
ui.content/src/main/content/jcr_root/etc/commerce/products/.content.xml

src/main/content/META-INF/vault/properties.xml
