# Configuration created by Apache Sling JCR Installer
htmllibmanager.debug.console=B"false"
htmllibmanager.path.list=["/apps","/libs","/etc"]
htmllibmanager.maxDataUriSize=L"0"
htmllibmanager.timing=B"false"
htmllibmanager.clientmanager="granite.clientlibrarymanager"
htmllibmanager.firebuglite.path="/libs/granite/ui/content/firebug-lite/source/firebug-lite.js#startOpened\=true"
htmllibmanager.maxage=L"-1"
htmllibmanager.debug=B"false"
htmllibmanager.forceCQUrlInfo=B"false"
htmllibmanager.processor.css=["min:yui"]
htmllibmanager.minify=B"true"
htmllibmanager.debug.init.js="window.CQ_initial_log_level\='INFO';"
htmllibmanager.excluded.path.list=["/etc/workflow/instances","/etc/taskmanagement"]
htmllibmanager.defaultthemename="default"
htmllibmanager.defaultuserthemename="default"
htmllibmanager.processor.js=["min:gcc"]
htmllibmanager.gzip=B"true"
htmllibmanager.longcache.patterns=[""]
htmllibmanager.longcache.format="lc-%s-lc"
