<!-- TODO: extend Communities component -->
<div class="we-Comments">

    <div class="we-Comments-item">
        <div class="row">
            <div class="col-md-1">
                <div class="we-Comments-avatar"><img src="http://placehold.it/100x100" alt=""></div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-8">
                        <strong class="we-Comments-name">Lorem Ipsum</strong>
                    </div>
                    <div class="col-sm-4 text-right">
                        <time class="we-Comments-date">May 5, 2015</time>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="we-Comments-title">Lorem ipsum dolor sit amet.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p class="we-Comments-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, consequatur eveniet excepturi ipsum quae ratione? Accusantium assumenda, at blanditiis cupiditate earum impedit laborum mollitia natus nisi nostrum obcaecati officia praesentium quia, repellendus, sapiente sequi tempora!
                        </p>
                        <ul class="we-Comments-reactions">
                            <li>
                                <i class="we-Icon we-Icon--like"></i> <span>12</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="we-Comments-ratings">
                            <li>
                                <div class="we-Rating"> <!-- TODO: add rating component -->
                                    <span class="we-Rating-desc">Overall:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                            <li>
                                <div class="we-Rating">
                                    <span class="we-Rating-desc">Pricing:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                            <li>
                                <div class="we-Rating">
                                    <span class="we-Rating-desc">Quality:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="separator"></div>
            </div>
        </div>
    </div>
    <!-- /.we-Comments-item -->

    <div class="we-Comments-item">
        <div class="row">
            <div class="col-md-1">
                <div class="we-Comments-avatar"><img src="http://placehold.it/100x100" alt=""></div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-8">
                        <strong class="we-Comments-name">Lorem Ipsum</strong>
                    </div>
                    <div class="col-sm-4 text-right">
                        <time class="we-Comments-date">May 5, 2015</time>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="we-Comments-title">Lorem ipsum dolor sit amet.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p class="we-Comments-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, consequatur eveniet excepturi ipsum quae ratione? Accusantium assumenda, at blanditiis cupiditate earum impedit laborum mollitia natus nisi nostrum obcaecati officia praesentium quia, repellendus, sapiente sequi tempora!
                        </p>
                        <ul class="we-Comments-reactions">
                            <li>
                                <i class="we-Icon we-Icon--like"></i> <span>12</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="we-Comments-ratings">
                            <li>
                                <div class="we-Rating"> <!-- TODO: add rating component -->
                                    <span class="we-Rating-desc">Overall:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                            <li>
                                <div class="we-Rating">
                                    <span class="we-Rating-desc">Pricing:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                            <li>
                                <div class="we-Rating">
                                    <span class="we-Rating-desc">Quality:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="separator"></div>
            </div>
        </div>
    </div>
    <!-- /.we-Comments-item -->

    <div class="we-Comments-item">
        <div class="row">
            <div class="col-md-1">
                <div class="we-Comments-avatar"><img src="http://placehold.it/100x100" alt=""></div>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-8">
                        <strong class="we-Comments-name">Lorem Ipsum</strong>
                    </div>
                    <div class="col-sm-4 text-right">
                        <time class="we-Comments-date">May 5, 2015</time>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="we-Comments-title">Lorem ipsum dolor sit amet.</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p class="we-Comments-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, consequatur eveniet excepturi ipsum quae ratione? Accusantium assumenda, at blanditiis cupiditate earum impedit laborum mollitia natus nisi nostrum obcaecati officia praesentium quia, repellendus, sapiente sequi tempora!
                        </p>
                        <ul class="we-Comments-reactions">
                            <li>
                                <i class="we-Icon we-Icon--like"></i> <span>12</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <ul class="we-Comments-ratings">
                            <li>
                                <div class="we-Rating"> <!-- TODO: add rating component -->
                                    <span class="we-Rating-desc">Overall:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                            <li>
                                <div class="we-Rating">
                                    <span class="we-Rating-desc">Pricing:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                            <li>
                                <div class="we-Rating">
                                    <span class="we-Rating-desc">Quality:</span>
                                    <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star active"></i> <i class="we-Star"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="separator"></div>
            </div>
        </div>
    </div>
    <!-- /.we-Comments-item -->

</div>
<!-- /.we-Comments -->