<clientlib data-sly-call="${clientLib.all @ categories=['jquery', 'we-retail.components.section-products']}" data-sly-unwrap/>
<div class="sections">

</div>
<div class="products">
	<div class="filters">
        <div class="filter">
            <label>Max price: </label>
			<input type="number" name="maxPrice" id="maxPrice" />
            <br />
            <label>Min price: </label>
			<input type="number" name="minPrice" id="minPrice" />
        </div>
        <div class="filter tags">
            <label>Has tags:</label><br />

        </div>
        <button name="search" id="search">Search</button>
        <div style="clear:both"></div>
    </div>
	<div class="results">
        <h3>Products</h3>
	</div>
</div>
