
.page.container {
    padding-top: 0 !important;
}

.header .navbar-fixed-top {
}

.header nav.navbar {
    position: relative;
    top: 0;
    margin-top: 60px;
}

.header .container {
	padding: 0 24px 2px 0;
}

.footer .we-Footer {
    margin-top: 20px;
    height: 455px;
}

.footer .we-Footer-nav--inline ul > li {
    padding-right: 0;
}

.aem-Grid {
    margin-top: 0;
}

.root .image img {
    width: 100%;
}

.we-HeroImage {
    margin: 0 !important;
}
