
.page.container {
    padding-top: 0 !important;
}

.footer .we-Footer-nav--inline ul > li {
    padding-right: 0;
}

.aem-Grid {
    margin-top: 0;
}

.root .image img {
    width: 100%;
}

.we-HeroImage {
    /* margin: 0 !important; */
}

.we-CategoryTeaser img {
    min-height: 100px;
	background: #ddd;
}
