
.page.container {
    padding-top: 0 !important;
}

.header .container {
	padding: 70px 24px 2px 0;
}

.header .container nav.navbar {
    top: 0;
}

.footer .we-Footer {
    margin-top: 20px;
    height: 455px;
}

.footer .we-Footer-nav--inline ul > li {
    padding-right: 0;
}

.aem-Grid {
    margin-top: 0;
}

.root .image img {
    width: 100%;
}

.we-HeroImage {
    margin: 0 !important;
}

.we-CategoryTeaser img {
    min-height: 100px;
	background: #ddd;
}
