.we-Rating {
  margin-bottom: 3px;

  &-desc {
    display: inline-block;

    margin-left: 10px;
  }

  .we-Star {
    font-size: 14px;

    margin: 2px;

    &:first-child {
      margin-left: 0;
    }
  }
}