@import (reference) "/etc/designs/we-retail/clientlib-site/less/main.less";
@import (reference) "/etc/designs/we-retail/clientlib-site/less/grid.less";

.products-grid {
  .foundation-ordered-list-container {
    .list-unstyled;
    .make-row();
  }

  .foundation-list-item {
    .list-unstyled;
    .make-md-column(2);
    //.make-xs-column(6);

    &:nth-of-type(6n+1) {
      clear: left;
    }
  }

  &-mobilePagination {
    text-align: center;

    a {
      text-indent: -99999px;
      margin: 0 1rem;
      display: inline-block;
      text-decoration: none;
      border-radius: 50%;
      border: 1px solid @brand-primary;
      width: 15px;
      height: 15px;
      cursor: pointer;

      &.active {
        background-color: @brand-primary;
      }
    }
  }

  &.aem-GridColumn--default--10 {
    .foundation-list-item {
      width: percentage(@max_col/5/@max_col);

      &:nth-of-type(6n+1) {
        clear: none;
      }

      &:nth-of-type(5n+1) {
        clear: left;
      }
    }
  }

  .pagination {
    display: none;
  }
}

.generate-mobile-pagination(@itemsPerPage, @pages, @i: 0) when (@i <= @pages) {

  &[data-page="@{i}"] {
    .foundation-ordered-list-container {
      left: @i * -100vw;
    }
  }

  .generate-mobile-pagination(@itemsPerPage, @pages, (@i + 1));
}

//== Mobile pagination
@media (max-width: @screen-sm-max) {
  .products-grid {

    max-width: 100vw;
    overflow: hidden;

    .foundation-ordered-list-container {
        left: 0;
        width: 9999em;
        overflow: hidden;
        position: relative;

        transition: left .25s;
    }

    .foundation-list-item {
        width: 50vw;
        display: inline-block;
    }

    .generate-mobile-pagination(2, 5);
  }
}