.we-SiteFeature {
    margin: 3rem 0;
}

.we-SiteFeature .we-Icon {
    vertical-align: middle;
    font-size: 2.3rem;
    color: #c81017;
    margin: 0 1rem;
}

.we-SiteFeature-header {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 0;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
}

.we-SiteFeature-header small {
    display: block;
    text-indent: 5px;
    font-weight: 400;
    text-transform: initial;
}
