.we-FindStore {
    text-align: center;

    .form-control {
        display: inline-block;
        vertical-align: middle;

        width: 60%;
    }
}

@media (min-width: @screen-md-min) {
    .we-FindStore .form-control {
        width: auto;
        min-width: 290px;
    }
}
