@import (reference) "/etc/designs/we-retail/common/variables.less";

.we-ArticleTeaser {
  padding-bottom: @padding-large-vertical;

  background: fade(@gray-base, 5);

  position: relative;

  &-visual {
    display: block;

    img {
      &:extend(.img-responsive);

      width: 100%;
    }
  }

  &-title {
    &:extend(.h3);

    padding: 0 @padding-large-horizontal;

    margin: @padding-large-horizontal auto;

    font-weight: 700;
    line-height: 29px;
  }

  &-description {
    padding: 0 @padding-large-horizontal;

    margin: @padding-large-horizontal auto;
  }

  &-category {
    padding: 5px @padding-small-horizontal 4px;

    margin: auto 0 auto @padding-small-horizontal;

    background-color: fade(@gray-base, 15);

    color: #fff;

    text-transform: uppercase;
  }

  &-date {
    &:extend(.text-muted);

    float: right;

    margin: auto @padding-large-horizontal;

    font-size: 13px;
    line-height: 26px;

    text-transform: uppercase;
  }

  &-author {
    &:extend(.text-muted);
    font-weight: 600;

    margin: auto 0 auto @padding-large-horizontal;
  }

  &-text {
    padding: 0 @padding-large-horizontal;

    line-height: normal;
  }
}
