@import (reference) "/etc/designs/we-retail/common/variables.less";

.header {
    min-height: @header-height;
    margin-bottom: 10px;

    .container {
        padding: 30px 24px 2px 0;
        position: relative;
    }
}

@media (min-width: @screen-sm-min) {
    .header {
        .container {
            padding: 70px 24px 60px 0;
        }
    }
}