@import (reference) "/etc/designs/we-retail/clientlib-site/less/main.less";

.we-Carousel {
    margin-bottom: 75px;

    &-indicators {
        bottom: -50px;
    }

    &-inner > &-item {
        width: 100%;
        height: 400px;
        background-size: cover;
    }
}
