<ul class="we-SocialShare" data-sly-use.socialShare="social-share.js">
    <li data-sly-test="${socialShare.enabledPlugins.facebook}">
        <a class="btn btn-icon btn-default" title="Facebook"><i class="we-Icon we-Icon--facebook"></i></a>
    </li>
    <li data-sly-test="${socialShare.enabledPlugins.twitter}">
        <a class="btn btn-icon btn-default" title="Twitter"><i class="we-Icon we-Icon--twitter"></i></a>
    </li>
    <li data-sly-test="${socialShare.enabledPlugins.googlePlus}">
        <a class="btn btn-icon btn-default" title="Google+"><i class="we-Icon we-Icon--google-plus"></i></a>
    </li>
    <li data-sly-test="${socialShare.enabledPlugins.pinterest}">
        <a class="btn btn-icon btn-default" title="Pinterest"><i class="we-Icon we-Icon--pinterest"></i></a>
    </li>
</ul>
<!-- /.we-SocialShare -->

<!-- TODO: add js libs -->