@import (reference) "/etc/designs/we-retail/clientlib-site/less/main.less";

.we-Product {
  padding-bottom: 50px;

  border-bottom: 1px solid fade(@gray-base, 10);

  margin-bottom: 45px;

  &-photos {
    .list-unstyled;

    li {
      transition: border-color @transition-default;

      padding: @padding-large-vertical 0;

      border: 1.5px solid transparent;

      margin-bottom: 5px;

      &.active, &:hover {
        border-color: fade(@gray-base, 5);
      }
    }

    img {
      .img-responsive;

      cursor: pointer;
    }
  }

  &-visual {
    text-align: center;

    img {
      .img-responsive;
    }

    &-zoom {
      .text-muted;

      transition: color @transition-default;

      display: inline-block;

      margin-top: 60px;

      font-weight: 700;

      &:hover, &:focus {
        color: fade(@gray-base, 60);

        text-decoration: none;
      }

      .we-Icon {
        font-size: 17px;

        margin-right: 10px;
      }
    }
  }

  &-brand {
    .h4;
  }

  &-code {
    .text-muted;

    font-weight: 700;
    font-size: 13px;

    text-transform: uppercase;
  }

  &-name {
    margin-top: 0;
    margin-bottom: 6px;
  }

  &-price {
    .h2;

    display: inline-block;

    margin: 0 auto 15px;
  }

  &-description {
    margin-bottom: 12px;
  }

  &-radio {
    padding-left: 0;

    margin-right: 5px;
    margin-bottom: 8px;

    & + & {
      margin-left: 0;
    }

    label {
      margin-bottom: 0;

      line-height: 30px;

      span {
        line-height: 30px;
        color: #fff;

        text-align: center;

        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        cursor: pointer;
      }
    }

    input[type=radio] {
      width: 30px;
      height: 30px;

      border: 0;
      border-radius: 0;

      margin-top: 0;

      background-color: @gray-dark;

      cursor: pointer;

      &:checked {
        background-color: @brand-primary;

        &::after {
          display: none;
        }
      }
    }

    &.marker {
      input[type=radio]:checked {
        &::after {
          content: @we-Icon--var-check;

          display: inline-block;

          width: auto;
          height: auto;

          border-radius: 0;

          background: none;

          font: normal normal normal 11px/30px "we-icons";
          color: #fff;
        }
      }
    }
  }

  &-status {
    font-weight: 700;
    line-height: 42px;

    text-transform: uppercase;

    &:before {
      content: '\2022';

      display: inline-block;

      margin-right: 5px;

      font-size: 16px;
    }
  }

  &-form {}

  &-subtitle {
    margin: 0 auto 20px;

    text-transform: uppercase;
  }

  &-features {
    ul {
      .list-unstyled;
    }
  }

  .form-group {
    margin-bottom: 12px;

    &.separator {
      margin-bottom: 22px;
    }
  }

  label {
    .text-muted;

    text-transform: none;
  }

  .we-Rating {
    margin-bottom: 8px;
  }

  .separator {
    padding-bottom: 14px;

    border-bottom: 1px solid fade(@gray-base, 10);
  }

  .we-SocialShare {
    padding-top: 40px;

    border-top: 1px solid fade(@gray-base, 10);

    margin-top: 80px;
    margin-bottom: 40px;
  }
}
