@import (reference) "/etc/designs/we-retail/clientlib-site/less/main.less";

div.product div {
    margin-top: 120px;
    float:left;
    width: 60%
}
div.product img {
    margin-top:120px;
    width: 40%;
    float: right;
}
