@import (reference) "/etc/designs/we-retail/clientlib-site/less/main.less";

.we-CategoryTeaser {
    padding: 0;
    //margin: 10px;

    background: 50% no-repeat;
    background-size: cover;

    position: relative;

    .btn {
        position: absolute;
        bottom: @padding-base-horizontal;
        left: @padding-base-horizontal;
    }
    
    img {
        width: 100%;
        min-height: 100%;
        background-color: @placeholder-bg-color;
    }
    
    h2 {
        &:extend(.text-uppercase);

        font-size: @font-size-h2;
        font-weight: 900;
        color: @jumbotron-color;
        display: block;

        margin: 0;
        position: absolute;
        top: 20%;
        left: 20px;
    }

    p {
        &:extend(.h3);

        margin: 0 auto;
    }
}
