.we-lang-icon {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;

    position: relative;
    display: inline-block;

    width: 1.33333333em;
    line-height: 1em;
}

.we-lang-icon:before {
    content: "\00a0";
}

.we-lang-icon-en {
    background-image: url('@{langIconsPath}US.png');
}

.we-lang-icon-fr {
    background-image: url('@{langIconsPath}FR.png');
}


